openapi: 3.2.0
info:
  x-logo:
    url: https://s3.amazonaws.com/cdn.skyslope.com/forms/forms-logo-w-top-padding.png
    href: https://skyslope.com/
    altText: SkySlope
  title: SkySlope Partnership API Reference Templates API
  version: 1.0.0
  description: "# Introduction\n  The SkySlope Forms API is organized around [REST](https://en.wikipedia.org/wiki/Representational_state_transfer).\n  Our API has predictable resource-oriented URLs, accepts JSON-encoded request bodies, returns JSON-encoded responses,\n  and uses standard HTTP response codes, authentication, and verbs.<br/><br/>\n  NOTE: Endpoints marked with an asterisk (*) will be available to our partners in the near future.\n  # Authentication\n  This API uses [OAuth 2.0 authorization code flow](https://www.oauth.com/oauth2-servers/server-side-apps/authorization-code/)\n  to obtain an access token that can be used to authenticate subsequent API requests.\n  ## Access Tokens\n  ### Request\n  To obtain an access token, first redirect the user to the authorization endpoint:\n  ```\n  https://accounts.skyslope.com/oauth2/authorize?\n    response_type=code\n    &client_id={YOUR_CLIENT_ID}\n    &redirect_uri={YOUR_REDIRECT_URI}\n    &scope=forms.files\n    &state={RANDOM_STATE_VALUE}\n    &code_challenge={CODE_CHALLENGE}\n    &code_challenge_method=S256\n  ```\n  After the user authorizes your application, they'll be redirected back to your redirect URI with an authorization code.\n  Exchange this code for an access token by making a POST request to the token endpoint:\n  ```\n  POST /oauth2/token HTTP/1.1\n  Host: accounts.skyslope.com\n  Content-Type: application/x-www-form-urlencoded\n  \n  grant_type=authorization_code\n  &client_id={YOUR_CLIENT_ID}\n  &client_secret={YOUR_CLIENT_SECRET}\n  &code={AUTHORIZATION_CODE}\n  &redirect_uri={YOUR_REDIRECT_URI}\n  &code_verifier={CODE_VERIFIER}\n  ```\n  ### Usage\n  Authentication to the API is performed by including your access token in the **Authorization** header of your\n  API requests with the Bearer authentication scheme:\n  ```\n  GET /partner/api/files HTTP/1.1\n  Host: forms.skyslope.com\n  Authorization: Bearer {YOUR_ACCESS_TOKEN}\n  ```\n  All API requests must be made over [HTTPS](https://en.wikipedia.org/wiki/HTTPS). Calls made over plain HTTP will fail.\n  API requests without authentication will also fail.\n  ## Refresh Tokens\n  Refresh tokens allow you to obtain new access tokens without requiring the user to re-authenticate. When you first\n  complete the OAuth flow, you'll receive both an access token and a refresh token.\n  ### Request\n  To receive a refresh token, include the `offline_access` scope in your initial authorization request:\n  ```\n  https://accounts.skyslope.com/oauth2/authorize?\n    response_type=code\n    &client_id={YOUR_CLIENT_ID}\n    &scope=forms.files offline_access\n    &redirect_uri={YOUR_REDIRECT_URI}\n  ```\n  ### Usage\n  When your access token expires, make a POST request to the token endpoint:\n  ```\n  POST /oauth2/token HTTP/1.1\n  Host: accounts.skyslope.com\n  Content-Type: application/x-www-form-urlencoded\n  \n  grant_type=refresh_token\n  &client_id={YOUR_CLIENT_ID}\n  &client_secret={YOUR_CLIENT_SECRET}\n  &refresh_token={YOUR_REFRESH_TOKEN}\n  ```\n  This will return a new access token and refresh token pair.\n  ### Security Best Practices\n  - Store refresh tokens securely on your backend server, never on client side\n  - Encrypt refresh tokens at rest using strong encryption\n  - Rotate refresh token on each use\n  - Set up monitoring for unusual refresh token usage patterns\n  - If a refresh token is compromised, revoke it immediately using the token revocation endpoint\n  - Implement automatic cleanup of unused refresh tokens"
  termsOfService: https://skyslope.com/terms-conditions/
  contact:
    name: Support
    url: https://support.skyslope.com/hc/en-us
    email: support@skyslope.com
servers:
- url: https://forms.skyslope.com/partner/api
  description: Production server
- url: https://staging-forms.skyslope.com/partner/api
  description: Staging server
- url: https://integ-forms.skyslope.com/partner/api
  description: Integration server
tags:
- name: Templates
paths:
  /templates:
    get:
      summary: Get Templates
      tags:
      - Templates
      description: 'Retrieve templates. Defaults to personal templates (type=Template). Use type=BrokerTemplate for broker templates.<div style="color: rgba(38, 50, 56, 0.5); border-bottom: 1px solid rgba(38, 50, 56, 0.3); padding-bottom: 1px;">REQUIRED SCOPES:</div><div style="display: inline-flex; gap: 5px; padding: 5px;"><div style="border-radius: 2px; border: 1px solid rgba(128,128,255,0.5); background-color: rgba(64,64,255,0.25); padding: 0px 5px;">forms.templates.read</div><div style="border-radius: 2px; border: 1px solid rgba(128,128,255,0.5); background-color: rgba(64,64,255,0.25); padding: 0px 5px;">forms.files.read</div><div style="border-radius: 2px; border: 1px solid rgba(128,128,255,0.5); background-color: rgba(64,64,255,0.25); padding: 0px 5px;">forms.files</div></div>'
      parameters:
      - schema:
          type: string
          default: Template
        in: query
        name: type
        required: false
        description: The type of templates to retrieve. Defaults to Template (personal templates).
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalRecords:
                    type: number
                    description: The total number of templates found for the authenticated user.
                  files:
                    type: array
                    description: An array containing the templates found for the authenticated user.
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          description: The id of the template.
                        ownedBy:
                          type: string
                          description: The id of the user who owns the template.
                        createdDate:
                          type: string
                          description: The date and time the template was created.
                        createdBy:
                          type: string
                          description: The id of the user who created the template.
                        lastUpdated:
                          type: string
                          description: The date and time the template was last updated.
                        updatedBy:
                          type: string
                          description: The id of the user who last updated the template.
                        name:
                          type: string
                          description: The name of the template.
                        type:
                          type: string
                          enum:
                          - File
                          - Template
                          - BrokerTemplate
                          description: The type of the template.
                        representationType:
                          type: string
                          enum:
                          - Buyer
                          - Seller
                          - Tenant
                          - Landlord
                          description: The representation type of the template.
                        documentCount:
                          type: number
                          description: The number of documents in the template.
                        brokerTemplateStatus:
                          type: string
                          enum:
                          - Draft
                          - Published
                          description: The status of the broker template. Only present for BrokerTemplate type.
                        brokerTemplateStatusUpdatedOn:
                          type: string
                          description: The date and time the broker template status was last updated. Only present for BrokerTemplate type.
                        accountGroups:
                          type: array
                          description: An array of account groups for the template.
                          items:
                            type: object
                            properties:
                              groupId:
                                type: string
                                description: The id of the account group.
                        regions:
                          type: array
                          description: An array of regions for the template.
                          items:
                            type: object
                            properties:
                              country:
                                type: string
                                description: The country of the region.
                              region:
                                type: string
                                description: The region.
              example:
                totalRecords: 1
                files:
                - id: 1
                  name: Personal Template Name
                  type: Template
                  representationType: Buyer
                  documentCount: 3
                  createdDate: '2023-12-31T12:12:12.123Z'
                  createdBy: iajv98j498j98vasj4h
                  lastUpdated: '2023-12-31T12:12:12.123Z'
                  updatedBy: iajv98j498j98vasj4h
                  ownedBy: iajv98j498j98vasj4h
                  accountGroups: []
                  regions: []
        default:
          description: An object containing the error that occurred.
          content:
            application/json:
              schema:
                type: object
                description: An object containing the error that occurred.
                properties:
                  code:
                    type: string
                    description: A code that represents the error that occurred.
                  message:
                    type: string
                    description: A description of the error that occurred.
                  errors:
                    type: array
                    description: An array of the errors that occurred.
                    items:
                      type: string
                  traceId:
                    type: string
                    description: A request correlation ID.
