openapi: 3.2.0
info:
  x-logo:
    url: https://s3.amazonaws.com/cdn.skyslope.com/forms/forms-logo-w-top-padding.png
    href: https://skyslope.com/
    altText: SkySlope
  title: SkySlope Partnership API Reference Buyer Agreements API
  version: 1.0.0
  description: '# Introduction

    The SkySlope Forms API is organized around REST.'
  termsOfService: https://skyslope.com/terms-conditions/
  contact:
    name: Support
    url: https://support.skyslope.com/hc/en-us
    email: support@skyslope.com
servers:
- url: https://forms.skyslope.com/partner/api
  description: Production server
- url: https://staging-forms.skyslope.com/partner/api
  description: Staging server
- url: https://integ-forms.skyslope.com/partner/api
  description: Integration server
tags:
- name: Buyer Agreements
paths:
  /buyer-agreements/market:
    get:
      summary: Get Buyer Agreements By Market
      tags:
      - Buyer Agreements
      description: 'Retrieve the buyer agreements for a specific market.

        REQUIRED SCOPES:


        forms.buyerAgreements.restrictedRead'
      parameters:
      - schema:
          type: string
        in: query
        name: filters
        required: false
        description: A sieve list of filters that will be applied to the results.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalRecords:
                    type: number
                    description: The total number of buyer agreement files found.
                  files:
                    type: array
                    description: An array containing the buyer agreement files found.
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          description: The SkySlope identifier for the file.
                        memberName:
                          type: string
                          description: The date and time the file was created.
                        memberId:
                          type: string
                          description: The MLS id of the user who owns the file.
                        executionDate:
                          type: string
                          description: The date and time the file was executed.
                        expirationDate:
                          type: string
                          description: The date and time the file expires.
                        completedDate:
                          type: string
                          description: The date and time the file was completed.
                        isCarBRBC:
                          type: boolean
                          description: Does this file contain a CAR Buyer Agreement?
              example:
                totalRecords: 1
                files:
                - id: 1
                  memberName: Member Name
                  memberId: Member ID
                  executionDate: '2023-11-31T12:12:12.123Z'
                  expirationDate: '2023-12-31T12:12:12.123Z'
                  completedDate: '2023-12-21T12:12:12.123Z'
                  isCarBRBC: true
        default:
          description: An object containing the error that occurred.
          content:
            application/json:
              schema:
                type: object
                description: An object containing the error that occurred.
                properties:
                  code:
                    type: string
                    description: A code that represents the error that occurred.
                  message:
                    type: string
                    description: A description of the error that occurred.
                  errors:
                    type: array
                    description: An array of the errors that occurred.
                    items:
                      type: string
                  traceId:
                    type: string
                    description: A request correlation ID.
      operationId: getBuyerAgreementsMarket
      x-operation-id-source: derived
