openapi: 3.2.0
info:
  x-logo:
    url: https://s3.amazonaws.com/cdn.skyslope.com/forms/forms-logo-w-top-padding.png
    href: https://skyslope.com/
    altText: SkySlope
  title: SkySlope Partnership API Reference Forms API
  version: 1.0.0
  description: '# Introduction

    The SkySlope Forms API is organized around REST.'
  termsOfService: https://skyslope.com/terms-conditions/
  contact:
    name: Support
    url: https://support.skyslope.com/hc/en-us
    email: support@skyslope.com
servers:
- url: https://forms.skyslope.com/partner/api
  description: Production server
- url: https://staging-forms.skyslope.com/partner/api
  description: Staging server
- url: https://integ-forms.skyslope.com/partner/api
  description: Integration server
tags:
- name: Forms
paths:
  /forms:
    get:
      summary: Get Forms
      tags:
      - Forms
      description: 'Get all of the Forms that the currently authenticated user has access to.

        REQUIRED SCOPES:


        forms.forms.read'
      parameters:
      - schema:
          type: array
          items:
            type: integer
        in: query
        name: libraryIds
        required: false
        description: 'Supply an array of library ids to filter the forms by. <b>NOTE: If a libraryId is provided that the current user does not have access to, it will be ignored.</b>'
      - schema:
          type: integer
          minimum: 1
          default: 1
        in: query
        name: page
        required: false
        description: The page number to retrieve.
      - schema:
          type: integer
          minimum: 1
          default: 10
        in: query
        name: pageSize
        required: false
        description: The number of forms returned per page.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalRecords:
                    type: number
                    description: The total number of forms found for the authenticated user.
                  forms:
                    type: array
                    description: An array of the forms that the user has access to.
                    items:
                      type: object
                      properties:
                        formId:
                          type: number
                          description: The form id of the form.
                        libraryId:
                          type: number
                          description: The library id of the form.
                        name:
                          type: string
                          description: The name of the form.
                        pageCount:
                          type: number
                          description: The number of pages in the form.
                        url:
                          type: string
                          description: The url of the form.
                        previewUrl:
                          type: string
                          description: The preview url of the form.
                        thumbnailUrl:
                          type: string
                          description: The thumbnail url of the form.
                        createdOn:
                          type: string
                          description: The date and time the form was created.
                        updatedOn:
                          type: string
                          description: The date and time the form was last updated.
                        source:
                          type: string
                          description: The source of the form.
                        sources:
                          type: array
                          description: An array of sources for the form.
                          items:
                            type: string
                        attributes:
                          type: object
                          description: An object containing the tags associated with the form.
                          additionalProperties: true
              example:
                totalRecords: 2
                forms:
                - id: 36095
                  name: Agreement Notice to Short Sale Addendum (Short Sale)
                  libraryId: 14289
                  attributes:
                    form-type: BRBC
                - id: 40144
                  name: BRBC Buyer Representation And Broker Compensation Agreement
                  libraryId: 14289
                  attributes:
                    form-type: BRBC
                nextLink: https://forms.skyslope.com/library/api/forms?filter=libraryId==13456&formName=Buyer&orderBy=FormName&page=2&pageSize=10
        default:
          description: An object containing the error that occurred.
          content:
            application/json:
              schema:
                type: object
                description: An object containing the error that occurred.
                properties:
                  code:
                    type: string
                    description: A code that represents the error that occurred.
                  message:
                    type: string
                    description: A description of the error that occurred.
                  errors:
                    type: array
                    description: An array of the errors that occurred.
                    items:
                      type: string
                  traceId:
                    type: string
                    description: A request correlation ID.
      operationId: getForms
      x-operation-id-source: derived
