openapi: 3.2.0
info:
  x-logo:
    url: https://s3.amazonaws.com/cdn.skyslope.com/forms/forms-logo-w-top-padding.png
    href: https://skyslope.com/
    altText: SkySlope
  title: SkySlope Partnership API Reference Contacts API
  version: 1.0.0
  description: '# Introduction

    The SkySlope Forms API is organized around REST.'
  termsOfService: https://skyslope.com/terms-conditions/
  contact:
    name: Support
    url: https://support.skyslope.com/hc/en-us
    email: support@skyslope.com
servers:
- url: https://forms.skyslope.com/partner/api
  description: Production server
- url: https://staging-forms.skyslope.com/partner/api
  description: Staging server
- url: https://integ-forms.skyslope.com/partner/api
  description: Integration server
tags:
- name: Contacts
paths:
  /files/{fileId}/contacts:
    post:
      summary: Add Contact to File
      tags:
      - Contacts
      description: 'Add a contact to a file.

        REQUIRED SCOPES:


        forms.files'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The body of the request to add a contact to a file.
              required:
              - firstName
              - lastName
              - type
              additionalProperties: false
              properties:
                actionAttribute:
                  type: string
                  enum:
                  - Empty
                  - NeedsToSign
                  - CanView
                  - ReceivesCopy
                  - NoAction
                  description: "Actions for contact to participate in.\n <br><p><strong>NeedsToSign:</strong> Contact will will receive an email containing a document needing to be signed\n</p><p><strong>ReceivesCopy:</strong> Contact to receive a copy of Signed Documents once signing is complete</p><p><strong>No Action:</strong> Contact needs not further action</p>"
                type:
                  type: string
                  enum:
                  - Broker
                  - Buyer
                  - BuyerAgent
                  - BuyersLawyer
                  - EscrowOfficer
                  - LoanOfficer
                  - Other
                  - Seller
                  - SellerAgent
                  - SellersLawyer
                  - TitleOfficer
                  description: The role that a contact has been assigned.
                isEntity:
                  type: boolean
                  description: Evaluates to true if the contact is an entity.
                isUser:
                  type: boolean
                  description: Evaluates to true if the contact is the also the agent (self).
                firstName:
                  type: string
                  description: The first name of the contact.
                middleName:
                  type: string
                  description: The middle name of the contact.
                lastName:
                  type: string
                  description: The last name of the contact.
                suffix:
                  type: string
                  description: The suffix of the contact.
                email:
                  type: string
                  description: The email of the contact.
                primaryPhoneNumber:
                  type: string
                  description: The primary phone number of the contact.
                brokeragePhoneNumber:
                  type: string
                  description: The brokerage phone number of the contact.
                faxPhoneNumber:
                  type: string
                  description: The fax phone number of the contact.
                primaryAddress:
                  type: object
                  description: The primary address of the contact.
                  additionalProperties: false
                  properties:
                    streetNumber:
                      type: string
                      description: The street number of the property.
                    streetName:
                      type: string
                      description: The street name of the property.
                    unitNumber:
                      type: string
                      description: The unit number of the property.
                    city:
                      type: string
                      description: The city of the property.
                    state:
                      type: string
                      description: The abbreviation for the state/province of the property.
                      minLength: 2
                      maxLength: 2
                    postalCode:
                      type: string
                      description: The postal code of the property.
                    county:
                      type: string
                      description: The county of the property.
                  required:
                  - streetNumber
                  - streetName
                  - city
                  - state
                  - postalCode
                companyName:
                  type: string
                  description: The company name that the contact belongs to.
                agentLicenseNumber:
                  type: string
                  description: The agent license number of the contact.
                agentMLSCode:
                  type: string
                  description: The agent mls code of the contact.
                brokerLicenseNumber:
                  type: string
                  description: The broker license number of the contact.
                brokerMLSCode:
                  type: string
                  description: The broker mls code of the contact.
                brokerageLicenseNumber:
                  type: string
                  description: The brokerage license number of the contact.
                brokerageMLSCode:
                  type: string
                  description: The brokerage mls code of the contact.
                lenderLicenseNumber:
                  type: string
                  description: The lender license number of the contact.
        required: true
        description: The body of the request to add a contact to a file.
      parameters:
      - schema:
          type: integer
          minimum: 1
        in: path
        name: fileId
        required: true
        description: The id of the file to add the contact to.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  contactId:
                    type: number
                    description: The id of the contact that was added to the file.
              example:
                contactId: 123456
        default:
          description: An object containing the error that occurred.
          content:
            application/json:
              schema:
                type: object
                description: An object containing the error that occurred.
                properties:
                  code:
                    type: string
                    description: A code that represents the error that occurred.
                  message:
                    type: string
                    description: A description of the error that occurred.
                  errors:
                    type: array
                    description: An array of the errors that occurred.
                    items:
                      type: string
                  traceId:
                    type: string
                    description: A request correlation ID.
      operationId: postFilesByFileIdContacts
      x-operation-id-source: derived
  /files/contacts/{contactId}:
    put:
      summary: Update Contact in File
      tags:
      - Contacts
      description: 'Update a contact in a file.

        REQUIRED SCOPES:


        forms.files'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The body of the request to add a contact to a file.
              required:
              - firstName
              - lastName
              - type
              additionalProperties: false
              properties:
                actionAttribute:
                  type: string
                  enum:
                  - Empty
                  - NeedsToSign
                  - CanView
                  - ReceivesCopy
                  - NoAction
                  description: "Actions for contact to participate in.\n <br><p><strong>NeedsToSign:</strong> Contact will will receive an email containing a document needing to be signed\n</p><p><strong>ReceivesCopy:</strong> Contact to receive a copy of Signed Documents once signing is complete</p><p><strong>No Action:</strong> Contact needs not further action</p>"
                type:
                  type: string
                  enum:
                  - Broker
                  - Buyer
                  - BuyerAgent
                  - BuyersLawyer
                  - EscrowOfficer
                  - LoanOfficer
                  - Other
                  - Seller
                  - SellerAgent
                  - SellersLawyer
                  - TitleOfficer
                  description: The role that a contact has been assigned.
                isEntity:
                  type: boolean
                  description: Evaluates to true if the contact is an entity.
                isUser:
                  type: boolean
                  description: Evaluates to true if the contact is the also the agent (self).
                firstName:
                  type: string
                  description: The first name of the contact.
                middleName:
                  type: string
                  description: The middle name of the contact.
                lastName:
                  type: string
                  description: The last name of the contact.
                suffix:
                  type: string
                  description: The suffix of the contact.
                email:
                  type: string
                  description: The email of the contact.
                primaryPhoneNumber:
                  type: string
                  description: The primary phone number of the contact.
                brokeragePhoneNumber:
                  type: string
                  description: The brokerage phone number of the contact.
                faxPhoneNumber:
                  type: string
                  description: The fax phone number of the contact.
                primaryAddress:
                  type: object
                  description: The primary address of the contact.
                  additionalProperties: false
                  properties:
                    streetNumber:
                      type: string
                      description: The street number of the property.
                    streetName:
                      type: string
                      description: The street name of the property.
                    unitNumber:
                      type: string
                      description: The unit number of the property.
                    city:
                      type: string
                      description: The city of the property.
                    state:
                      type: string
                      description: The abbreviation for the state/province of the property.
                      minLength: 2
                      maxLength: 2
                    postalCode:
                      type: string
                      description: The postal code of the property.
                    county:
                      type: string
                      description: The county of the property.
                  required:
                  - streetNumber
                  - streetName
                  - city
                  - state
                  - postalCode
                companyName:
                  type: string
                  description: The company name that the contact belongs to.
                agentLicenseNumber:
                  type: string
                  description: The agent license number of the contact.
                agentMLSCode:
                  type: string
                  description: The agent mls code of the contact.
                brokerLicenseNumber:
                  type: string
                  description: The broker license number of the contact.
                brokerMLSCode:
                  type: string
                  description: The broker mls code of the contact.
                brokerageLicenseNumber:
                  type: string
                  description: The brokerage license number of the contact.
                brokerageMLSCode:
                  type: string
                  description: The brokerage mls code of the contact.
                lenderLicenseNumber:
                  type: string
                  description: The lender license number of the contact.
        required: true
        description: The body of the request to add a contact to a file.
      parameters:
      - schema:
          type: integer
          minimum: 1
        in: path
        name: contactId
        required: true
        description: The id of the contact to update.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  contactId:
                    type: number
                    description: The id of the contact that was added to the file.
              example:
                contactId: 123456
        default:
          description: An object containing the error that occurred.
          content:
            application/json:
              schema:
                type: object
                description: An object containing the error that occurred.
                properties:
                  code:
                    type: string
                    description: A code that represents the error that occurred.
                  message:
                    type: string
                    description: A description of the error that occurred.
                  errors:
                    type: array
                    description: An array of the errors that occurred.
                    items:
                      type: string
                  traceId:
                    type: string
                    description: A request correlation ID.
      operationId: putFilesContactsByContactId
      x-operation-id-source: derived
  /files/{fileId}/contacts/bulk:
    post:
      summary: Add Contacts to File
      tags:
      - Contacts
      description: 'Add one or more contacts to a file.

        REQUIRED SCOPES:


        forms.files'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The body of the request to add multiple contacts to a file.
              properties:
                contacts:
                  type: array
                  description: The contacts to add to the file.
                  items:
                    type: object
                    description: The body of the request to add a contact to a file.
                    required:
                    - firstName
                    - lastName
                    - type
                    additionalProperties: false
                    properties:
                      actionAttribute:
                        type: string
                        enum:
                        - Empty
                        - NeedsToSign
                        - CanView
                        - ReceivesCopy
                        - NoAction
                        description: "Actions for contact to participate in.\n <br><p><strong>NeedsToSign:</strong> Contact will will receive an email containing a document needing to be signed\n</p><p><strong>ReceivesCopy:</strong> Contact to receive a copy of Signed Documents once signing is complete</p><p><strong>No Action:</strong> Contact needs not further action</p>"
                      type:
                        type: string
                        enum:
                        - Broker
                        - Buyer
                        - BuyerAgent
                        - BuyersLawyer
                        - EscrowOfficer
                        - LoanOfficer
                        - Other
                        - Seller
                        - SellerAgent
                        - SellersLawyer
                        - TitleOfficer
                        description: The role that a contact has been assigned.
                      isEntity:
                        type: boolean
                        description: Evaluates to true if the contact is an entity.
                      isUser:
                        type: boolean
                        description: Evaluates to true if the contact is the also the agent (self).
                      firstName:
                        type: string
                        description: The first name of the contact.
                      middleName:
                        type: string
                        description: The middle name of the contact.
                      lastName:
                        type: string
                        description: The last name of the contact.
                      suffix:
                        type: string
                        description: The suffix of the contact.
                      email:
                        type: string
                        description: The email of the contact.
                      primaryPhoneNumber:
                        type: string
                        description: The primary phone number of the contact.
                      brokeragePhoneNumber:
                        type: string
                        description: The brokerage phone number of the contact.
                      faxPhoneNumber:
                        type: string
                        description: The fax phone number of the contact.
                      primaryAddress:
                        type: object
                        description: The primary address of the contact.
                        additionalProperties: false
                        properties:
                          streetNumber:
                            type: string
                            description: The street number of the property.
                          streetName:
                            type: string
                            description: The street name of the property.
                          unitNumber:
                            type: string
                            description: The unit number of the property.
                          city:
                            type: string
                            description: The city of the property.
                          state:
                            type: string
                            description: The abbreviation for the state/province of the property.
                            minLength: 2
                            maxLength: 2
                          postalCode:
                            type: string
                            description: The postal code of the property.
                          county:
                            type: string
                            description: The county of the property.
                        required:
                        - streetNumber
                        - streetName
                        - city
                        - state
                        - postalCode
                      companyName:
                        type: string
                        description: The company name that the contact belongs to.
                      agentLicenseNumber:
                        type: string
                        description: The agent license number of the contact.
                      agentMLSCode:
                        type: string
                        description: The agent mls code of the contact.
                      brokerLicenseNumber:
                        type: string
                        description: The broker license number of the contact.
                      brokerMLSCode:
                        type: string
                        description: The broker mls code of the contact.
                      brokerageLicenseNumber:
                        type: string
                        description: The brokerage license number of the contact.
                      brokerageMLSCode:
                        type: string
                        description: The brokerage mls code of the contact.
                      lenderLicenseNumber:
                        type: string
                        description: The lender license number of the contact.
        description: The body of the request to add multiple contacts to a file.
      parameters:
      - schema:
          type: integer
          minimum: 1
        in: path
        name: fileId
        required: true
        description: The id of the file to add the contacts to.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalRecordsAdded:
                    type: number
                    description: The total number of contacts that were added to the file.
              example:
                totalRecordsAdded: 3
        default:
          description: An object containing the error that occurred.
          content:
            application/json:
              schema:
                type: object
                description: An object containing the error that occurred.
                properties:
                  code:
                    type: string
                    description: A code that represents the error that occurred.
                  message:
                    type: string
                    description: A description of the error that occurred.
                  errors:
                    type: array
                    description: An array of the errors that occurred.
                    items:
                      type: string
                  traceId:
                    type: string
                    description: A request correlation ID.
      operationId: postFilesByFileIdContactsBulk
      x-operation-id-source: derived
  /files/{fileId}/contacts/{contactId}:
    delete:
      summary: Delete Contact from File
      tags:
      - Contacts
      description: 'Delete a contact from a file.

        REQUIRED SCOPES:


        forms.files'
      parameters:
      - schema:
          type: integer
          minimum: 1
        in: path
        name: contactId
        required: true
        description: The id of the contact to delete.
      - schema:
          type: integer
          minimum: 1
        in: path
        name: fileId
        required: true
        description: The id of the file to delete the contact from.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - contactId
                properties:
                  contactId:
                    type: number
                    description: The id of the contact that was deleted from the file.
              example:
                contactId: 123456
        default:
          description: An object containing the error that occurred.
          content:
            application/json:
              schema:
                type: object
                description: An object containing the error that occurred.
                properties:
                  code:
                    type: string
                    description: A code that represents the error that occurred.
                  message:
                    type: string
                    description: A description of the error that occurred.
                  errors:
                    type: array
                    description: An array of the errors that occurred.
                    items:
                      type: string
                  traceId:
                    type: string
                    description: A request correlation ID.
      operationId: deleteFilesByFileIdContactsByContactId
      x-operation-id-source: derived
