openapi: 3.2.0
info:
  x-logo:
    url: https://s3.amazonaws.com/cdn.skyslope.com/forms/forms-logo-w-top-padding.png
    href: https://skyslope.com/
    altText: SkySlope
  title: SkySlope Partnership API Reference Libraries API
  version: 1.0.0
  description: '# Introduction

    The SkySlope Forms API is organized around REST.'
  termsOfService: https://skyslope.com/terms-conditions/
  contact:
    name: Support
    url: https://support.skyslope.com/hc/en-us
    email: support@skyslope.com
servers:
- url: https://forms.skyslope.com/partner/api
  description: Production server
- url: https://staging-forms.skyslope.com/partner/api
  description: Staging server
- url: https://integ-forms.skyslope.com/partner/api
  description: Integration server
tags:
- name: Libraries
paths:
  /tags:
    get:
      summary: Get Form Tags
      tags:
      - Libraries
      description: 'Retrieve the tags that are associated with the forms.

        REQUIRED SCOPES:


        forms.forms.read'
      parameters:
      - schema:
          type: string
        in: query
        name: ids
        required: false
        description: The form version ids to retrieve tags for.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                description: A response containing the tags.
                properties:
                  totalRecords:
                    type: number
                    description: The total number of records.
                  records:
                    type: array
                    description: An array of the tags.
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          description: The id of the tag.
                        tags:
                          type: object
                          description: The tags object.
                          additionalProperties: true
              example:
                totalRecords: 2
                records:
                - id: 28576
                  tags:
                    form-type: residential-purchase-contract
                - id: 29533
                  tags:
                    gives-ds3-access: 'true'
        default:
          description: An object containing the error that occurred.
          content:
            application/json:
              schema:
                type: object
                description: An object containing the error that occurred.
                properties:
                  code:
                    type: string
                    description: A code that represents the error that occurred.
                  message:
                    type: string
                    description: A description of the error that occurred.
                  errors:
                    type: array
                    description: An array of the errors that occurred.
                    items:
                      type: string
                  traceId:
                    type: string
                    description: A request correlation ID.
      operationId: getTags
      x-operation-id-source: derived
  /libraries:
    get:
      summary: Get Libraries
      tags:
      - Libraries
      description: 'Retrieve the libraries that the user is authorized to access.

        REQUIRED SCOPES:


        forms.libraries.read'
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - totalRecords
                - libraries
                properties:
                  totalRecords:
                    type: number
                    description: The total number of authorized libraries.
                  libraries:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - name
                      - regionCodes
                      properties:
                        id:
                          type: integer
                          description: Library id
                        name:
                          type: string
                          description: Name of library
                        regionCodes:
                          type: array
                          items:
                            type: string
                          description: Serving Regions
                    description: An array of libraries the user is authorized to access.
                description: A response containing the authorized libraries for the user.
              example:
                totalRecords: 1
                libraries:
                - id: 1551
                  name: Arizona Association of Realtors
                  regionCodes:
                  - US-AZ
                  - US-CA
        default:
          description: An object containing the error that occurred.
          content:
            application/json:
              schema:
                type: object
                description: An object containing the error that occurred.
                properties:
                  code:
                    type: string
                    description: A code that represents the error that occurred.
                  message:
                    type: string
                    description: A description of the error that occurred.
                  errors:
                    type: array
                    description: An array of the errors that occurred.
                    items:
                      type: string
                  traceId:
                    type: string
                    description: A request correlation ID.
      operationId: getLibraries
      x-operation-id-source: derived
  /libraries/{libraryId}/form-versions:
    get:
      summary: Get Library Form Versions
      tags:
      - Libraries
      description: 'Retrieve the form versions for a specific library.

        REQUIRED SCOPES:


        forms.libraries.read'
      parameters:
      - schema:
          type: integer
          minimum: 1
        in: path
        name: libraryId
        required: true
        description: The id of the library to retrieve form versions for.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - totalRecords
                - formVersions
                properties:
                  totalRecords:
                    type: number
                    description: The total number of form versions.
                  formVersions:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - formId
                      - name
                      - attributes
                      - publishedVersionId
                      - thumbnailUrl
                      properties:
                        id:
                          type: integer
                          description: Form version id
                        formId:
                          type: integer
                          description: A form has multiple versions, this is the id of the form that this version belongs to.
                        name:
                          type: string
                          description: Form name
                        attributes:
                          type: object
                          description: Dynamic attributes object containing form metadata. All attributes are optional and if present will be strings.
                          additionalProperties:
                            type: string
                        publishedVersionId:
                          type: integer
                          description: In the case that a newer version is published, this will be the id of the newer version.
                        thumbnailUrl:
                          type: string
                          description: URL to form thumbnail image
                    description: An array of form versions from the specified library.
                description: A response containing the form versions for a specific library.
              example:
                totalRecords: 5
                formVersions:
                - id: 36094
                  formId: 35345
                  name: Addendum Copy Test
                  attributes:
                    quickAction: delete
                  publishedVersionId: 36094
                  thumbnailUrl: url-here
                - id: 36095
                  formId: 35931
                  name: BIC CAR TEST - FOO
                  attributes:
                    formType: BRBC
                  publishedVersionId: 36095
                  thumbnailUrl: url-here
                - id: 41054
                  formId: 40355
                  name: BRBC - CRMLS testing
                  attributes:
                    formType: BRBC
                    isCarBRBC: 'true'
                    quickAction: BuyerAgreement
                    hasStartDate: 'true'
                    isCRMLSTracked: 'true'
                  publishedVersionId: 41054
                  thumbnailUrl: url-here
                - id: 41063
                  formId: 40362
                  name: BRBC - CRMLS testing - no dates
                  attributes:
                    formType: BRBC
                    isCarBRBC: 'true'
                    quickAction: BuyerAgreement
                    hasStartDate: 'true'
                    isCRMLSTracked: 'true'
                    downloadWithoutAddress: 'true'
                  publishedVersionId: 41063
                  thumbnailUrl: url-here
                - id: 41046
                  formId: 39761
                  name: BRBC Buyer Representation And Broker Compensation Agreement - CAR
                  attributes:
                    formType: BRBC
                    isCarBRBC: 'true'
                    quickAction: BuyerAgreement
                    QuickActions: BuyerAgreement
                    hasStartDate: 'true'
                    isCRMLSTracked: 'true'
                  publishedVersionId: 41046
                  thumbnailUrl: url-here
        default:
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                - errors
                - traceId
                properties:
                  code:
                    type: string
                    description: A code that represents the error that occurred.
                  message:
                    type: string
                    description: A description of the error that occurred.
                  errors:
                    type: array
                    items:
                      type: string
                    description: An array of the errors that occurred.
                  traceId:
                    type: string
                    description: A request correlation ID.
      operationId: getLibrariesByLibraryIdFormVersions
      x-operation-id-source: derived
