openapi: 3.2.0
info:
  x-logo:
    url: https://s3.amazonaws.com/cdn.skyslope.com/forms/forms-logo-w-top-padding.png
    href: https://skyslope.com/
    altText: SkySlope
  title: SkySlope Partnership API Reference Envelopes API
  version: 1.0.0
  description: '# Introduction

    The SkySlope Forms API is organized around REST.'
  termsOfService: https://skyslope.com/terms-conditions/
  contact:
    name: Support
    url: https://support.skyslope.com/hc/en-us
    email: support@skyslope.com
servers:
- url: https://forms.skyslope.com/partner/api
  description: Production server
- url: https://staging-forms.skyslope.com/partner/api
  description: Staging server
- url: https://integ-forms.skyslope.com/partner/api
  description: Integration server
tags:
- name: Envelopes
paths:
  /files/{fileId}/envelopes:
    get:
      summary: Get Envelopes in File
      tags:
      - Envelopes
      description: 'Get the envelopes associated with a file.

        REQUIRED SCOPES:


        forms.files


        forms.files.read'
      parameters:
      - schema:
          type: integer
          minimum: 1
          default: 1
        in: query
        name: page
        required: false
        description: The page number to retrieve.
      - schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 10
        in: query
        name: pageSize
        required: false
        description: The number of files returned per page.
      - schema:
          type: string
        in: query
        name: filters
        required: false
        description: A sieve filter to that will be applied to the results.
      - schema:
          type: string
        in: query
        name: sorts
        required: false
        description: A sieve list of sort fields to sort the results by.
      - schema:
          type: integer
          minimum: 1
        in: path
        name: fileId
        required: true
        description: The id of the file to retrieve envelopes for.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  totalRecords:
                    type: number
                    description: The total number of envelopes found for the file.
                  envelopes:
                    type: array
                    description: An array of the envelopes found for the file.
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          description: The id of the envelope.
                        name:
                          type: string
                          description: The name of the envelope.
                        status:
                          type: string
                          description: The status of the envelope.
                        isDeleted:
                          type: boolean
                          description: Evaluates to true if the envelope has been deleted.
                        fileId:
                          type: number
                          description: The id of the file that the envelope belongs to.
                        externalId:
                          type: string
                          description: The external id of the envelope.
                        dateSent:
                          type: string
                          description: The date and time the envelope was sent.
                        updatedOn:
                          type: string
                          description: The date and time the envelope was last updated.
                        ownedBy:
                          type: string
                          description: The id of the user who owns the envelope.
                        documentIds:
                          type: array
                          description: An array of the ids of the documents in the envelope.
                          items:
                            type: number
                        signers:
                          type: array
                          description: An array of the signers in the envelope.
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              id:
                                type: string
                                description: The id of the signer.
                              dateSigned:
                                type: string
                                description: The date and time the signer signed the document.
                              contactId:
                                type: string
                                description: The id of the contact that is the signer.
                              envelopeId:
                                type: string
                                description: The id of the envelope that the signer signed a document in.
                              externalId:
                                type: string
                                description: The external id of the signer.
                              createdBy:
                                type: string
                                description: The id of the user who created the signer entry.
                              updatedBy:
                                type: string
                                description: The id of the user who last updated the signer entry.
                              createdOn:
                                type: string
                                description: The date and time the signer entry was created.
                              updatedOn:
                                type: string
                                description: The date and time the signer entry was last updated.
                              ownedBy:
                                type: string
                                description: The id of the user who owns the signer entry.
        default:
          description: An object containing the error that occurred.
          content:
            application/json:
              schema:
                type: object
                description: An object containing the error that occurred.
                properties:
                  code:
                    type: string
                    description: A code that represents the error that occurred.
                  message:
                    type: string
                    description: A description of the error that occurred.
                  errors:
                    type: array
                    description: An array of the errors that occurred.
                    items:
                      type: string
                  traceId:
                    type: string
                    description: A request correlation ID.
      operationId: getFilesByFileIdEnvelopes
      x-operation-id-source: derived
    post:
      summary: Create Envelope in File
      tags:
      - Envelopes
      description: 'Create an envelope for a file.

        REQUIRED SCOPES:


        forms.files'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - envelopeName
              - documentIds
              properties:
                envelopeName:
                  type: string
                  description: The name of the envelope to add to the file.
                documentIds:
                  type: array
                  description: An array of the ids of the documents to add to the envelope.
                  items:
                    type: number
        required: true
      parameters:
      - schema:
          type: integer
          minimum: 1
        in: path
        name: fileId
        required: true
        description: The id of the file to add the envelope to.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  fileId:
                    type: number
                    description: The id of the file that the envelope was added to.
                  envelope:
                    type: object
                    description: The envelope that was added to the file.
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        description: The id of the envelope that was added to the file.
                      name:
                        type: string
                        description: The name of the envelope.
              example:
                fileId: 539181
                envelope:
                  id: 115682
                  name: My Envelope Name
        default:
          description: An object containing the error that occurred.
          content:
            application/json:
              schema:
                type: object
                description: An object containing the error that occurred.
                properties:
                  code:
                    type: string
                    description: A code that represents the error that occurred.
                  message:
                    type: string
                    description: A description of the error that occurred.
                  errors:
                    type: array
                    description: An array of the errors that occurred.
                    items:
                      type: string
                  traceId:
                    type: string
                    description: A request correlation ID.
      operationId: postFilesByFileIdEnvelopes
      x-operation-id-source: derived
