openapi: 3.2.0
info:
  x-logo:
    url: https://s3.amazonaws.com/cdn.skyslope.com/forms/forms-logo-w-top-padding.png
    href: https://skyslope.com/
    altText: SkySlope
  title: SkySlope Partnership API Reference Templates API
  version: 1.0.0
  description: '# Introduction

    The SkySlope Forms API is organized around REST.'
  termsOfService: https://skyslope.com/terms-conditions/
  contact:
    name: Support
    url: https://support.skyslope.com/hc/en-us
    email: support@skyslope.com
servers:
- url: https://forms.skyslope.com/partner/api
  description: Production server
- url: https://staging-forms.skyslope.com/partner/api
  description: Staging server
- url: https://integ-forms.skyslope.com/partner/api
  description: Integration server
tags:
- name: Templates
paths:
  /templates:
    get:
      summary: Get Templates
      tags:
      - Templates
      description: 'Retrieve templates. Defaults to personal templates (type=Template). Use type=BrokerTemplate for broker templates.

        REQUIRED SCOPES:


        forms.templates.read


        forms.files.read


        forms.files'
      parameters:
      - schema:
          type: string
          default: Template
        in: query
        name: type
        required: false
        description: The type of templates to retrieve. Defaults to Template (personal templates).
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalRecords:
                    type: number
                    description: The total number of templates found for the authenticated user.
                  files:
                    type: array
                    description: An array containing the templates found for the authenticated user.
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          description: The id of the template.
                        ownedBy:
                          type: string
                          description: The id of the user who owns the template.
                        createdDate:
                          type: string
                          description: The date and time the template was created.
                        createdBy:
                          type: string
                          description: The id of the user who created the template.
                        lastUpdated:
                          type: string
                          description: The date and time the template was last updated.
                        updatedBy:
                          type: string
                          description: The id of the user who last updated the template.
                        name:
                          type: string
                          description: The name of the template.
                        type:
                          type: string
                          enum:
                          - File
                          - Template
                          - BrokerTemplate
                          description: The type of the template.
                        representationType:
                          type: string
                          enum:
                          - Buyer
                          - Seller
                          - Tenant
                          - Landlord
                          description: The representation type of the template.
                        documentCount:
                          type: number
                          description: The number of documents in the template.
                        brokerTemplateStatus:
                          type: string
                          enum:
                          - Draft
                          - Published
                          description: The status of the broker template. Only present for BrokerTemplate type.
                        brokerTemplateStatusUpdatedOn:
                          type: string
                          description: The date and time the broker template status was last updated. Only present for BrokerTemplate type.
                        accountGroups:
                          type: array
                          description: An array of account groups for the template.
                          items:
                            type: object
                            properties:
                              groupId:
                                type: string
                                description: The id of the account group.
                        regions:
                          type: array
                          description: An array of regions for the template.
                          items:
                            type: object
                            properties:
                              country:
                                type: string
                                description: The country of the region.
                              region:
                                type: string
                                description: The region.
              example:
                totalRecords: 1
                files:
                - id: 1
                  name: Personal Template Name
                  type: Template
                  representationType: Buyer
                  documentCount: 3
                  createdDate: '2023-12-31T12:12:12.123Z'
                  createdBy: iajv98j498j98vasj4h
                  lastUpdated: '2023-12-31T12:12:12.123Z'
                  updatedBy: iajv98j498j98vasj4h
                  ownedBy: iajv98j498j98vasj4h
                  accountGroups: []
                  regions: []
        default:
          description: An object containing the error that occurred.
          content:
            application/json:
              schema:
                type: object
                description: An object containing the error that occurred.
                properties:
                  code:
                    type: string
                    description: A code that represents the error that occurred.
                  message:
                    type: string
                    description: A description of the error that occurred.
                  errors:
                    type: array
                    description: An array of the errors that occurred.
                    items:
                      type: string
                  traceId:
                    type: string
                    description: A request correlation ID.
      operationId: getTemplates
      x-operation-id-source: derived
