openapi: 3.2.0
info:
  title: SkySlope API Reference Offers API
  x-logo:
    url: https://s3.amazonaws.com/cdn.skyslope.com/offer-management/om-logo-w-padding.png
    altText: Offers Logo
    href: https://skyslope.com/offer-management-login/
  description: '# Introduction

    The SkySlope Offers API is organized around [REST](https://en.wikipedia.org/wiki/Representational_state_transfer).

    Our API has predictable resource-oriented URLs, accepts JSON-encoded request bodies, returns JSON-encoded responses,

    and uses standard HTTP response codes, authentication, and verbs.

    # Authentication

    The SkySlope Offers API uses [OAuth 2.0 client credentials flow](https://www.oauth.com/oauth2-servers/access-tokens/client-credentials/)

    to obtain an access token that can be used to authenticate subsequent API requests.


    To obtain an access token, see **[this endpoint](https://offers.skyslope.com/offers-api/reference#tag/Auth/paths/~1mls~1token/post)**.


    Authentication to the API is performed by including your access token in the **Authorization** header of your

    API requests with the Bearer authentication scheme.


    All API requests must be made over [HTTPS](https://en.wikipedia.org/wiki/HTTPS). Calls made over plain HTTP will fail.

    API requests without authentication will also fail.

    '
  termsOfService: https://skyslope.com/terms-conditions/
  contact:
    name: Support
    url: https://support.skyslope.com/hc/en-us
    email: support@skyslope.com
servers:
- url: https://offers.skyslope.com/offers-api
  description: Production server
- url: https://staging-offers.skyslope.com/offers-api
  description: Staging server
tags:
- name: Offers
paths:
  /ext/offer/:offerId:
    get:
      summary: Retrieve the offer details
      description: Retrieves the offer details given the offer identifier
      tags:
      - Offers
      parameters:
      - in: path
        name: offerId
        schema:
          type: String
        required: true
        description: 'Offer Identifier

          '
      - in: header
        name: Authorization
        schema:
          type: string
        required: true
        description: '<code>Bearer ACCESS_TOKEN</code>


          "ACCESS_TOKEN" is the token returned from /ext/token

          '
      x-codeSamples:
      - lang: cURL
        source: 'curl -X GET "https://offers.skyslope.com/offers-api/ext/offer/64510abe7d7e1f1dfac47393" -H "Authorization: Bearer ACCESS_TOKEN"

          '
      - lang: Javascript
        source: "fetch(\"https://offers.skyslope.com/offers-api/ext/offer/64510abe7d7e1f1dfac47393\", {\n  headers: {\n    \"Authorization\": \"ACCESS_TOKEN\"\n  }\n})\n.then(response => {\n  console.info(response);\n})\n.catch(error => {\n  console.error(error);\n});\n"
      - lang: Python
        source: 'import requests


          url = "https://offers.skyslope.com/offers-api/ext/offer"

          params = {"offerId": "64510abe7d7e1f1dfac47393"}

          headers = {"Authorization": "ACCESS_TOKEN"}


          response = requests.get(url, params=params, headers=headers)

          print(response.content.decode())

          '
      - lang: C#
        source: "using System;\nusing System.Net.Http;\nusing System.Threading.Tasks;\n\nclass Program\n{\n    static async Task Main(string[] args)\n    {\n        using (var client = new HttpClient())\n        {\n            client.DefaultRequestHeaders.Add(\"Authorization\": \"ACCESS_TOKEN\");\n            var response = await client.GetAsync(\"https://offers.skyslope.com/offers-api/ext/offer/64510abe7d7e1f1dfac47393\");\n            Console.WriteLine(await response.Content.ReadAsStringAsync());\n        }\n    }\n}\n"
      - lang: PHP
        source: '$ch = curl_init();

          curl_setopt($ch, CURLOPT_URL, "https://offers.skyslope.com/offers-api/ext/offer/64510abe7d7e1f1dfac47393");

          curl_setopt($ch, CURLOPT_HTTPHEADER, array("Authorization": "ACCESS_TOKEN"));

          curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);

          $response = curl_exec($ch);

          curl_close($ch);


          echo $response;

          '
      - lang: Ruby
        source: 'require ''uri''

          require ''net/http''


          url = URI("https://offers.skyslope.com/offers-api/ext/offer/64510abe7d7e1f1dfac47393")


          http = Net::HTTP.new(url.host, url.port)

          http.use_ssl = true


          request = Net::HTTP::Get.new(url)

          request["Authorization"] = "ACCESS_TOKEN"


          response = http.request(request)

          puts response.read_body

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RESOOffer'
              example:
                OfferId: 64510abe7d7e1f1dfac47393
                OfferOriginatingSystemId: SkySlope
                OfferSourceSystemId: SkySlope
                ModificationTimestamp: '2023-05-02T13:18:21.439Z'
                OfferSubmissionDate: '2023-05-01T13:18:21.439Z'
                OfferProperty:
                  OfferAgentId: Agent123
                  ListingId: Listing456
                  ListingKey: Key789
                  Market: Residential
                  PropertyType: Single Family
                  ListingStatus: Active
                  StreetNumber: '1266'
                  StreetName: Ocala
                  UnitNumber: Apt 4
                  City: TALLAHASSEE
                  StateOrProvince: FL
                  PostalCode: '32304'
                  CountyOrParish: Leon
                  ParcelNumber: Parcel123
                OfferTerms:
                  OfferPrice: 250000
                  OfferStatus: Submitted
                  CreditAtClosing: To be determined
                  EarnestMoney: 1000
                  OfferClosingDate: '2023-06-01T04:00:00.000Z'
                  OfferClosingDays: 30
                  Deposit: 3000
                  OfferExpirationDate: '2023-05-15T04:00:00.000Z'
                  AdditionalTerms: Small pets allowed
                  Contingencies: []
                  EscalationClause: None
                  HomeWarranty: Seller
                  IncreasedDeposit: 500
                  BuyerFinancing: Conventional
                  OfferVersionNumber: 1
        '204':
          description: No Content
        '400':
          description: Bad Request - Missing or invalid request parameters
        '401':
          description: Unauthorized - Missing or invalid access token
        '500':
          description: Internal Server Error
  /ext/offers:
    get:
      summary: Retrieve all offers for a given date range.
      description: Retrieve all offers for a given date range.
      tags:
      - Offers
      parameters:
      - in: query
        name: startDate
        schema:
          type: Date
        required: true
        description: "<code>2023-01-01</code>\n\n The start of the date range in UTC format\n"
      - in: query
        name: endDate
        schema:
          type: Date
        required: false
        description: '<code>2023-01-31</code>


          The end of the date range in UTC format.  Max date range is 31 days.  When larger range is requested, result for 31 days is returned.

          '
      - in: query
        name: page
        schema:
          type: Number
        required: false
        description: Page number
      - in: query
        name: pageSize
        schema:
          type: Number
        required: false
        description: Page size
      - in: header
        name: Authorization
        schema:
          type: string
        required: true
        description: '<code>Bearer ACCESS_TOKEN</code>


          "ACCESS_TOKEN" is the token returned from /ext/token

          '
      x-codeSamples:
      - lang: cURL
        source: 'curl -X GET "https://offers.skyslope.com/offers-api/ext/offers/?startDate=2023-01-01&endDate=2023-01-31" -H "Authorization: Bearer ACCESS_TOKEN"

          '
      - lang: Javascript
        source: "fetch(\"https://offers.skyslope.com/offers-api/ext/offers/?startDate=2023-01-01&endDate=2023-01-31\", {\n  headers: {\n    \"Authorization\": \"ACCESS_TOKEN\"\n  }\n})\n.then(response => {\n  console.info(response);\n})\n.catch(error => {\n  console.error(error);\n});\n"
      - lang: Python
        source: 'import requests


          url = "https://offers.skyslope.com/offers-api/ext/offers"

          params = {"startDate": "2023-01-01", "endDate": "2023-01-31"}

          headers = {"Authorization": "ACCESS_TOKEN"}


          response = requests.get(url, params=params, headers=headers)

          print(response.content.decode())

          '
      - lang: C#
        source: "using System;\nusing System.Net.Http;\nusing System.Threading.Tasks;\n\nclass Program\n{\n    static async Task Main(string[] args)\n    {\n        using (var client = new HttpClient())\n        {\n            client.DefaultRequestHeaders.Add(\"Authorization\": \"ACCESS_TOKEN\");\n            var response = await client.GetAsync(\"https://offers.skyslope.com/offers-api/ext/offers/?startDate=2023-01-01&endDate=2023-01-31\");\n            Console.WriteLine(await response.Content.ReadAsStringAsync());\n        }\n    }\n}\n"
      - lang: PHP
        source: '$ch = curl_init();

          curl_setopt($ch, CURLOPT_URL, "https://offers.skyslope.com/offers-api/ext/offers/?startDate=2023-01-01&endDate=2023-01-31");

          curl_setopt($ch, CURLOPT_HTTPHEADER, array("Authorization": "ACCESS_TOKEN"));

          curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);

          $response = curl_exec($ch);

          curl_close($ch);


          echo $response;

          '
      - lang: Ruby
        source: 'require ''uri''

          require ''net/http''


          url = URI("https://offers.skyslope.com/offers-api/ext/offers/?startDate=2023-01-01&endDate=2023-01-31")


          http = Net::HTTP.new(url.host, url.port)

          http.use_ssl = true


          request = Net::HTTP::Get.new(url)

          request["Authorization"] = "ACCESS_TOKEN"


          response = http.request(request)

          puts response.read_body

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESOOffer'
              example:
              - OfferId: 64510abe7d7e1f1dfac47393
                OfferOriginatingSystemId: SkySlope
                OfferSourceSystemId: SkySlope
                ModificationTimestamp: '2023-05-02T13:18:21.439Z'
                OfferSubmissionDate: '2023-05-01T13:18:21.439Z'
                OfferProperty:
                  OfferAgentId: Agent123
                  ListingId: Listing456
                  ListingKey: Key789
                  Market: Residential
                  PropertyType: Single Family
                  ListingStatus: Active
                  StreetNumber: '1266'
                  StreetName: Ocala
                  UnitNumber: Apt 4
                  City: TALLAHASSEE
                  StateOrProvince: FL
                  PostalCode: '32304'
                  CountyOrParish: Leon
                  ParcelNumber: Parcel123
                OfferTerms:
                  OfferPrice: 250000
                  OfferStatus: Submitted
                  CreditAtClosing: To be determined
                  EarnestMoney: 1000
                  OfferClosingDate: '2023-06-01T04:00:00.000Z'
                  OfferClosingDays: 30
                  Deposit: 3000
                  OfferExpirationDate: '2023-05-15T04:00:00.000Z'
                  AdditionalTerms: Small pets allowed
                  Contingencies: []
                  EscalationClause: None
                  HomeWarranty: Seller
                  IncreasedDeposit: 500
                  BuyerFinancing: Conventional
                  OfferVersionNumber: 1
        '204':
          description: No Content
        '400':
          description: Bad Request - Missing or invalid request parameters
        '401':
          description: Unauthorized - Missing or invalid access token
        '500':
          description: Internal Server Error
components:
  schemas:
    RESOOffer:
      type: object
      properties:
        OfferId:
          type: string
        OfferOriginatingSystemId:
          type: string
        OfferSourceSystemId:
          type: string
        ModificationTimestamp:
          type: IsoDate
        OfferSubmissionDate:
          type: IsoDate
        OfferProperty:
          type: object
          properties:
            OfferAgentId:
              type: string
            ListingId:
              type: string
            ListingKey:
              type: string
            Market:
              type: string
            PropertyType:
              type: string
            ListingStatus:
              type: string
            StreetNumber:
              type: string
            StreetName:
              type: string
            UnitNumber:
              type: string
            City:
              type: string
            StateOrProvince:
              type: string
            PostalCode:
              type: string
            CountyOrParish:
              type: string
            ParcelNumber:
              type: string
        OfferTerms:
          type: object
          properties:
            OfferPrice:
              type: number
            OfferStatus:
              type: string
            CreditAtClosing:
              type: any
            EarnestMoney:
              type: number
            OfferClosingDate:
              type: IsoDate
            OfferClosingDays:
              type: number
            Deposit:
              type: number
            OfferExpirationDate:
              type: IsoDate
            AdditionalTerms:
              type: string
            Contingencies:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  _:
                    type: any
            EscalationClause:
              type: any
            HomeWarranty:
              type: string
            IncreasedDeposit:
              type: number
            BuyerFinancing:
              type: string
            OfferVersionNumber:
              type: number
